/*Colores: hsl(208, 80%, 18%)
/*Colores: hsl(38, 56%, 81%)
/*Colores: hsl(342, 68%, 78%)
/*Colores: hsl(195, 52%, 62%)

Colores:
    Modo Oscuro:
        blanco:     "white"
        celeste:    `hsla(200, 100%, 60%, 1)`
        amarillo:   `hsla(45, 100%, 60%, 1)` - `hsla(45, 100%, 60%, ${this.propulsor})`
        burdeo:     `hsla(0, 100%, 80%, 1)`
        negro:      "black"

    Modo Claro:
        blanco:     `hsla(51, 95%, 93%, 1)` 
        negro:      `hsla(40, 19%, 13%, 1)`
*/

/*
color blanco: hsl(38, 56%, 81%)     -> claro: blanco = hsl(51, 95%, 93%) negro = hsl(40, 19%, 13%)
    #header2, #body #main
color celeste: hsl(195, 52%, 62%)
    #header1
borde blanco:
    #canvas, .comando
borde celeste
    .botones
background color: black
    body
*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: monospace;
    background-color: black;
    /*background-color: hsla(51, 95%, 93%, 1);     */
    display: flexbox;
    text-align: center;
}

#header1 {
    font-size: 2.8rem;
    color: hsl(195, 52%, 62%);
    padding: 0.5rem;
    letter-spacing: 2rem;
    font-weight: 200;
}

#header2 {
    font-size: 1rem;
    color: hsl(38, 56%, 81%);
    opacity: 0.9;
    font-weight: 100;
    letter-spacing: 0.2rem;
}

main {
    color: hsl(38, 56%, 81%);
    display: flexbox;
}

canvas {
    display: block;
    margin: 0.5rem auto;
    border: 2px hsl(38, 56%, 81%) solid;
}

ul {
    display: block;
    column-count: 5;
    width: 650px;
    font-size: 1rem;
    list-style: none;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%)
}


.botones {
    border-color: hsl(195, 52%, 62%);
}

ul li #btnPausar {
    opacity: 1;
    width: 6.5rem;
    font-size: 1.2rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

li {
    list-style: none;
}

#btnPausar:active {
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

#btnPausar:hover {
    color: hsl(195, 52%, 62%);
    border: 2px solid;
    border-color: inherit;
}

ul li #btnNave {
    opacity: 1;
    width: 4rem;
    margin-top: 0.4rem;
    font-size: 1.2rem;
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

#btnNave:active {
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

#btnNave:hover {
    color: hsl(195, 52%, 62%);
    border: 2px solid;
    border-color: inherit;
}

#btnModoClaro {
    opacity: 1;
    width: 6rem;
    height: 2rem;
    margin-top: 0.4rem;
    font-size: 0.8rem;
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

#btnModoClaro:active {
    background-color: inherit;
    color: inherit;
    border: 2px solid;
    border-color: inherit;
}

#btnModoClaro:hover {
    color: hsl(195, 52%, 62%);
    border: 2px solid;
    border-color: inherit;
}

.comando {
    opacity: 0.9;
    display: inline-flex;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border: 2px solid;
    border-color: hsl(38, 56%, 81%);
}